<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- Without this line, an ERROR "java.lang.IllegalStateException: Failed to load ApplicationContext for" is in the console, so mvn release:perform crashes. -->
    <logger name="org.springframework" level="OFF"/>
</configuration>